*,
html {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* 5 Columns */
.col-xs-5-cols,
.col-sm-5-cols,
.col-md-5-cols,
.col-lg-5-cols {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5-cols {
  -ms-flex: 0 0 20%;
  -webkit-box-flex: 0;
          flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 768px) {
  .col-sm-5-cols {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 992px) {
  .col-md-5-cols {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1200px) {
  .col-lg-5-cols {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

#hero {
  background-image: url("../images/banner-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero h2 {
  color: #fff;
  font-size: 30px;
}

#hero h3 {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  #hero h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  #hero img {
    display: none;
  }
}

#hero .country {
  margin-top: 100px;
}

@media screen and (max-width: 900px) {
  #hero .country {
    margin-top: 30px;
    display: inline-block;
  }
}

@media screen and (max-width: 900px) {
  #hero .regional {
    margin-top: 30px;
  }
}

#hero .content {
  padding: 300px 0;
}

@media screen and (max-width: 900px) {
  #hero .content {
    padding: 50px 0;
    text-align: center;
  }
}

.btn-yellow {
  font-weight: bold;
  color: #000;
  background-color: #ffa81e;
}

.btn-yel, .btn-dark-yellow {
  font-weight: bold;
  color: #fff;
  background-color: #ffa81e;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-yel:hover, .btn-dark-yellow:hover {
  color: white;
  text-decoration: none;
}

.btn-dark-yellow {
  color: #ffa81e;
}

.text-yellow {
  color: #ffa81e;
}

#world-portfolio {
  background-image: url("../images/map.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 80px 0;
}

#world-portfolio h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

#world-portfolio p {
  font-size: 18px;
}

#world-portfolio .icons {
  margin-top: 100px;
}

@media screen and (max-width: 900px) {
  #world-portfolio .icons {
    display: none;
  }
}

#world-portfolio .content {
  text-align: center;
}

#world-portfolio .content h5 {
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0;
  text-transform: uppercase;
}

#world-portfolio .content .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  #world-portfolio .content {
    margin: 20px 0;
  }
  #world-portfolio .content .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}

#world-portfolio .content ul li {
  list-style-type: none;
  margin-top: 10px;
}

#world-portfolio .content ul li a {
  text-decoration: underline;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

#world-portfolio .select select {
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
}

#world-portfolio .select select option {
  text-align: center;
}

#products {
  margin-top: 100px;
}

#products h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

#products .sort-area .card {
  border-radius: 20px;
  font-size: 12px;
  position: relative;
}

#products .sort-area .card .card-header {
  font-weight: bold;
}

#products .sort-area .card span {
  color: #d42308;
  position: absolute;
  right: 2%;
}

#products .sort-by select {
  padding: 5px 10px;
  border: 1px solid #777777;
  color: #000;
  border-radius: 6px;
  font-weight: bold;
}

#products .range {
  margin-top: 30px;
}

#products .range input {
  width: 100%;
}

#products .product-area img {
  width: 100%;
  height: auto;
}

#products .product-area h5 {
  font-size: 16px;
  margin: 10px 0;
}

#products .product-area .product-text {
  padding: 5px;
}

#products .product-area .product-slider:nth-child(2) {
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  #products .product-area .product-slider {
    margin-top: 30px;
  }
}

#form-area {
  margin-top: 100px;
  padding: 80px 0;
  background-color: #ebf1f3;
}

#form-area label {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

#form-area input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 20px 0;
  border-radius: 0%;
}

#market-assetsment {
  margin-top: 100px;
}

@media screen and (max-width: 900px) {
  #market-assetsment {
    margin-top: 50px;
  }
}

#market-assetsment h1 {
  font-size: 40px;
}

#market-assetsment .mobile-map {
  display: none;
}

@media screen and (max-width: 900px) {
  #market-assetsment .mobile-map {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}

#market-assetsment .places-mobile-view {
  display: none;
}

@media screen and (max-width: 900px) {
  #market-assetsment .places-mobile-view {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}

#market-assetsment .places-mobile-view .btn {
  width: 100%;
}

#market-assetsment .places-mobile-view .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

#market-assetsment .places-mobile-view .content a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #000;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  text-decoration: none;
}

#market-assetsment .world-map {
  margin-top: 50px;
  background-image: url("../images/world-map.png");
  background-position: left center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  #market-assetsment .world-map {
    background-position: left center;
    background-image: none;
    display: none;
  }
}

#market-assetsment .world-map .amarica, #market-assetsment .world-map .europe, #market-assetsment .world-map .amazon, #market-assetsment .world-map .asia, #market-assetsment .world-map .middle {
  margin-top: -30px;
}

#market-assetsment .world-map .amarica .content, #market-assetsment .world-map .europe .content, #market-assetsment .world-map .amazon .content, #market-assetsment .world-map .asia .content, #market-assetsment .world-map .middle .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#market-assetsment .world-map .amarica .content p, #market-assetsment .world-map .europe .content p, #market-assetsment .world-map .amazon .content p, #market-assetsment .world-map .asia .content p, #market-assetsment .world-map .middle .content p {
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid #000;
  margin: 0;
  margin-left: 20px;
  position: relative;
}

#market-assetsment .world-map .amarica .content a, #market-assetsment .world-map .europe .content a, #market-assetsment .world-map .amazon .content a, #market-assetsment .world-map .asia .content a, #market-assetsment .world-map .middle .content a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

#market-assetsment .world-map .amarica .content a span, #market-assetsment .world-map .europe .content a span, #market-assetsment .world-map .amazon .content a span, #market-assetsment .world-map .asia .content a span, #market-assetsment .world-map .middle .content a span {
  position: absolute;
  right: 0%;
  font-size: 14px;
}

#market-assetsment .world-map .europe {
  margin-left: -80px;
}

#market-assetsment .world-map .amazon {
  margin-top: 430px;
}

#market-assetsment .world-map .asia {
  margin-top: 450px;
}

#market-assetsment .world-map .asia .heading {
  margin-left: 100px;
}

#market-assetsment .world-map .middle {
  margin-top: -40px;
}

#market-assetsment .world-map .middle .content p {
  width: 100%;
}

.btn-yellow {
  font-weight: bold;
  color: #000;
  background-color: #ffa81e;
}

.btn-yel, .btn-dark-yellow {
  font-weight: bold;
  color: #fff;
  background-color: #ffa81e;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-yel:hover, .btn-dark-yellow:hover {
  color: white;
  text-decoration: none;
}

.btn-red {
  font-weight: bold;
  color: #fff;
  background-color: #ab1600;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-red:hover {
  color: white;
  text-decoration: none;
}

.btn-orange {
  font-weight: bold;
  color: #fff;
  background-color: #ff6800;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-orange:hover {
  color: white;
  text-decoration: none;
}

.btn-green {
  font-weight: bold;
  color: #fff;
  background-color: #2c5b29;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-green:hover {
  color: white;
  text-decoration: none;
}

.btn-blue {
  font-weight: bold;
  color: #fff;
  background-color: #1c2731;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-blue:hover {
  color: white;
  text-decoration: none;
}

.text-yellow {
  color: #ffa81e;
}

#asia, #europe, #africa, #middle-east, #americas {
  margin-top: 100px;
  background-color: #ebf1f3;
  padding: 80px 0;
}

#asia img, #europe img, #africa img, #middle-east img, #americas img {
  width: 100%;
  height: auto;
}

#asia h2, #europe h2, #africa h2, #middle-east h2, #americas h2 {
  font-size: 40px;
  font-weight: bold;
}

#asia .country, #europe .country, #africa .country, #middle-east .country, #americas .country {
  text-align: center;
}

#asia .country img, #europe .country img, #africa .country img, #middle-east .country img, #americas .country img {
  width: 90px;
  height: 90px;
}

#asia .country h6, #europe .country h6, #africa .country h6, #middle-east .country h6, #americas .country h6 {
  font-size: 14px;
  font-weight: bold;
}

#europe {
  margin-top: 0%;
  background-color: #fff;
}

#americas {
  margin-top: 0%;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */