@import "./base";

#hero {
  background-image: url("../images/banner-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    color: $white;
    font-size: 30px;
  }
  h3 {
    color: $white;
    font-weight: bold;
    font-size: 24px;
    @include sm {
      font-size: 20px;
    }
  }
  img {
    @include sm {
      display: none;
    }
  }
  .country {
    margin-top: 100px;
    @include sm {
      margin-top: 30px;
      display: inline-block;
    }
  }
  .regional {
    @include sm {
      margin-top: 30px;
    }
  }
  .content {
    padding: 300px 0;
    @include sm {
      padding: 50px 0;
      text-align: center;
    }
  }
}
.btn-yellow {
  font-weight: bold;
  color: $black;
  background-color: $yellow;
}
.btn-yel {
  font-weight: bold;
  color: $white;
  background-color: $yellow;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.btn-dark-yellow {
  @extend .btn-yel;
  color: $dark-yellow;
}
.text-yellow {
  color: $yellow;
}

#world-portfolio {
  background-image: url("../images/map.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  // margin-top: 50px;
  padding: 80px 0;

  h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }
  .icons {
    margin-top: 100px;
    @include sm {
      display: none;
    }
  }
  .content {
    // margin-top: 400px;
    text-align: center;
    h5 {
      font-weight: bold;
      font-size: 16px;
      margin: 20px 0;
      text-transform: uppercase;
    }
    .icon {
      display: none;
    }
    @include sm {
      margin: 20px 0;
      .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
      }
    }
    ul {
      li {
        list-style-type: none;
        margin-top: 10px;
        a {
          text-decoration: underline;
          font-size: 12px;
          font-weight: bold;
          color: #000;
          // font-weight: bold;
          text-transform: uppercase;
          text-underline-offset: 5px;
          text-decoration-thickness: 2px;
        }
      }
    }
  }
  .select {
    select {
      border: none;
      border-bottom: 1px solid $black;
      // margin-top: 10px;
      padding: 10px;
      font-size: 14px;
      font-weight: bold;
      background-color: transparent;
      option {
        text-align: center;
      }
    }
  }
}

#products {
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
  margin-top: 100px;
  .sort-area {
    .card {
      border-radius: 20px;
      font-size: 12px;
      // font-weight: bold;
      position: relative;
      .card-header {
        font-weight: bold;
      }
      span {
        color: #d42308;
        position: absolute;
        right: 2%;
      }
    }
  }
  .sort-by {
    select {
      padding: 5px 10px;
      border: 1px solid $grey;
      color: $black;
      border-radius: 6px;
      font-weight: bold;
    }
  }
  .range {
    margin-top: 30px;
    input {
      width: 100%;
    }
  }
  .product-area {
    img {
      width: 100%;
      height: auto;
    }
    h5 {
      font-size: 16px;
      margin: 10px 0;
    }
    .product-text {
      padding: 5px;
    }
    .product-slider {
      &:nth-child(2) {
        margin-top: 30px;
      }
      @include sm {
        margin-top: 30px;
      }
    }
  }
}

#form-area {
  margin-top: 100px;
  padding: 80px 0;
  background-color: $light-blue;
  label {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }
  input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $black;
    margin: 0;
    padding: 20px 0;
    border-radius: 0%;
  }
}
#market-assetsment {
  margin-top: 100px;
  @include sm {
    margin-top: 50px;
  }
  h1 {
    font-size: 40px;
  }
  .mobile-map {
    display: none;
    @include sm {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 50px;
    }
  }
  .places-mobile-view {
    display: none;
    @include sm {
      display: block;
      width: 100%;
      margin-top: 50px;
    }
    .btn {
      width: 100%;
    }
    .content {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      a {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 20px;
        border: 1px solid #000;
        width: 100%;
        padding: 10px;
        text-align: center;
        margin-top: 5px;
        text-decoration: none;
      }
    }
  }
  .world-map {
    margin-top: 50px;
    background-image: url("../images/world-map.png");
    background-position: left center;
    background-repeat: no-repeat;
    @include sm {
      background-position: left center;
      background-image: none;
      display: none;
    }

    .europe-select {
      border: 0;
      border-bottom: 1px solid $grey;
      font-weight: bold;
      font-size: 12px;
      background-color: transparent;
    }
    .africa-select {
      @extend .europe-select;
      margin: 0%;
    }
    .middle {
      margin-top: -120px;
      margin-left: 20px;
      .amarica-items {
        margin-top: 20px;
      }
    }
    .middle-select {
      // width: 150px;
      border: 0;
      border-bottom: 1px solid $grey;
      font-weight: bold;
      font-size: 12px;
      background-color: transparent;
    }
    .ama {
      margin-top: 500px;
      .amarica-items {
        margin-top: 20px;
        width: 100%;
        max-width: 180px;
      }
    }
    .asia {
      margin-top: -60px;
    }
    .apac {
      margin-left: 80px;

      .amarica-items {
        width: 100%;
        max-width: 200px;
      }
    }
    .connector {
      .bigline {
        width: 2px;
        background-color: #ab1600;
        height: 200px;
      }
    }
    .amarica {
      margin-top: 100px;
    }
    .amarica-items {
      margin-left: 10px;

      .card {
        background-color: #fff !important;
        // border: none;
        border-radius: 50px;
        border: 2px solid #ab1600;
        margin: 5px 0;
        text-align: center;
        text-transform: uppercase;
      }
      .card-header {
        padding: 0px;
        // padding: 2px 20px;
        background-color: #fff;
        a {
          font-size: 10px;
          font-weight: bold;
          color: #000;
          text-transform: uppercase;
        }
        .btn.focus,
        .btn:focus {
          box-shadow: none;
        }
      }
      .card-body {
        a {
          color: #000;
          display: flex;
        }
      }
    }
    .eu {
      margin-top: 100px;
      margin-left: -80px;
      .amarica-items {
        .card {
          border: 2px solid #2c5b29;
          .card-header {
            padding: 0px;
          }
          a {
            font-size: 10px;
            font-weight: bold;
            color: #000;
            text-transform: uppercase;
          }
          button {
            font-size: 10px;
            font-weight: bold;
            color: #000;
            text-transform: uppercase;
            // padding: 0;
          }
          h2 {
            width: 150px;
          }
        }
      }
    }
    .ama {
      .amarica-items {
        .card {
          border: 2px solid #1c2731;
          width: 150px;
        }
      }
    }
    .middle {
      .amarica-items {
        .card {
          border: 2px solid #ffa81e;
        }
      }
    }
    .asia {
      .amarica-items {
        .card {
          border: 2px solid #ff6800;
        }
      }
    }
  }
}
.btn-yellow {
  font-weight: bold;
  color: $black;
  background-color: $yellow;
}
.btn-yel {
  font-weight: bold;
  color: $white;
  background-color: $yellow;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.btn-red {
  font-weight: bold;
  color: $white;
  background-color: $red;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.btn-orange {
  font-weight: bold;
  color: $white;
  background-color: $orange;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.btn-green {
  font-weight: bold;
  color: $white;
  background-color: $green;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.btn-blue {
  font-weight: bold;
  color: $white;
  background-color: $dark-blue;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 20px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.text-yellow {
  color: $yellow;
}
#asia {
  margin-top: 100px;
  background-color: $light-blue;
  padding: 80px 0;
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  .country {
    text-align: center;
    img {
      width: 90px;
      height: 90px;
    }
    h6 {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

#europe {
  @extend #asia;
  margin-top: 0%;
  background-color: $white;
}

#middle-east {
  @extend #asia;
  // margin-top: 0%;
  // background-color: $white;
}
#americas {
  @extend #asia;
  margin-top: 0%;
  background-color: $white;
}
